<!DOCTYPE html>
<html lang="en">
<head>
		<title>Team 13</title>
		<meta charset="utf-8">
 		 <meta name="viewport" content="width=device-width, initial-scale=1">
 		
		
</head>
<body>
	<div class="header">
		<h1>T13 "Online Shop"</h1>
	</div>
<div class="navbar">
  <a href="/">Home</a>
  <a href="/about1">About</a>
  <a href="/contact">Contact</a>
  <div class="dropdown">
    <button class="dropbtn">Create 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/brands/create">Create Brand</a>
      <a href="/category/create">Create Category</a>
      <a href="/products/create">Create Product</a>
    </div>
  </div> 
</div>
<br>
	<div class="pdlist">
		<br>{{#rows}}
		<div class="products">
			<div class="name">	{{name}} </div><br>
			<div class="type">	Type:   {{type}} </div><br>
			<div class="description">Description:   {{description}} </div><br>
			<div class="brand">	Brand:   {{brand}} </div><br>
			<div class="price">	Price:   P{{price}}.00 </div><br>
		<img src="{{image}}" width="250" height="250" align="middle"><br>
<br>
		<div class="button">
					<p><a class="button" type="submit" href="/order">Order Now</a></p>
		</div>
	</div>
		{{/rows}}
	</div>

</div>

</body>
</html>
