<!DOCTYPE html>
<html lang="en">
<head>
		<title>Team 13</title>
		<meta charset="utf-8">
 		 <meta name="viewport" content="width=device-width, initial-scale=1">
 		
		
</head>
<body>
	<div class="header">
		<a href="/">
		<img src="https://scontent.fmnl4-5.fna.fbcdn.net/v/t1.15752-9/40139954_230113000997347_3873425618926305280_n.png?_nc_cat=0&_nc_eui2=AeEPfLkDsNxUhX908FgUVs17TKadEfczn0I1dq1-QGsCv_hmjNO1p6hAIWs6tixwUPMLq07bNgEpH8RWbpLB6eSwp0zsVnNcG5SnnzP80gphFg&oh=339ee1c60c8414cb7a7ff2f1439a4571&oe=5C036EFF" alt="logo" width="130" height="75" align="left"></a><h1> Team 13 module</h1> 
	
	<div class="menu" id="mymenu">
	<ul>
 <br> <li><a href="/">Home</a></li>
  <li><a href="/admin/product">Admin</a></li>
  <li><a>Module 3</a>
  	<ul>
  	<li><a href="/orders/list">Orders</a></li>
  	<li><a href="/customers-list">Customers</a></li>
  	</ul>
  </li>
  <li><a>Create</a>
  	<ul>
  <li><a href="/brands/create">Create Brand</a></li>
  <li><a href="/category/create">Create Category</a></li>
  <li><a href="/products/create">Create Product</a></li>
	</ul>
    <li><a>Updates</a>
  	<ul>
  <li><a href="/brands">Brands</a></li>
  <li><a href="/categories">Categories</a></li>
	</ul>
    </ul> </li>
</div>
</div>
<br>
	<div class="pdlist">
		<br>{{#rows}}
		<div class="products">
			<div class="name">	{{name}} </div><br>
			<div class="type">	Type:   {{type}} </div><br>
			<div class="description">Description:   {{description}} </div><br>
			<div class="brand">	Brand:   {{brand}} </div><br>
			<div class="price">	Price:   P{{price}}.00 </div><br>
			<div class="id"> Product ID: {{id}} </div><br>
		<img src="{{image}}" width="250" height="250" align="middle"><br>
<br>
				<p><a class="button1" type="submit" href="/order">Order Now</a></p>
	
				<p><a class="button2" type="submit" href="/products/update">Update Product</a></p>
					
		
	</div>
	{{/rows}}

</div>

</body>
</html>
