<!DOCTYPE html>
<html lang="en">
<head>
		<title>Team 13</title>
		<meta charset="utf-8">
 		 <meta name="viewport" content="width=device-width, initial-scale=1">
 		
		
</head>
<body>
	<div class="header">
		<h1>T13 "Online Shop"</h1>
	
	<div class="menu" id="mymenu">
	<ul>
 <br> <li><a href="/">Home</a></li>
  <li><a href="/about1">About</a></li>
  <li><a>Module 3</a>
  	<ul>
  	<li><a href="/orders/list">Orders</a></li>
  	<li><a href="/customers/list">Customers</a></li>
  	</ul>
  </li>
  <li><a>Create</a>
  	<ul>
  <li><a href="/brands/create">Create Brand</a></li>
  <li><a href="/category/create">Create Category</a></li>
  <li><a href="/products/create">Create Product</a></li>
	</ul>
    <li><a>Updates</a>
  	<ul>
  <li><a href="/brands">Brands</a></li>
  <li><a href="/categories">Categories</a></li>
	</ul>
    </ul> </li>
</div>
</div>
<br>
  
  <div class="orders">
    {{#rows}}
      {{id}}
      {{customer_id}}
      {{product_id}}
      {{order_date}}
      {{quantity}}
    {{/rows}}
  </div>

</body>
</html>